.filter-option {
	position: relative;
	font-size: 1.5rem;
	text-transform: capitalize;
}

.filter-option:last-child > ul,
.filter-option:nth-child(6) > ul,
.filter-option:nth-child(5) > ul {
	left: unset;
	right: 0;
}

.filter-option:last-child > ul > div:first-child,
.filter-option:nth-child(6) > ul > div:first-child,
.filter-option:nth-child(5) > ul > div:first-child {
	right: 30px;
}

.filter-option__label {
	padding: 5px 10px;
	border-radius: 5px;
	cursor: pointer;
	border: 1px solid var(--secondary-color);
	transition: box-shadow 0.2s;
}

.filter-option__label:hover {
	box-shadow: var(--dark-blue-shadow);
}

@media screen and (max-width: 1024px) {
	.filter-option {
		font-size: 1rem;
	}

	.filter-option__label {
		padding: 5px;
	}
}

@media screen and (max-width: 768px) {
	.filter-option {
		position: static;
	}

	.filter-option:nth-child(2) > ul > div:first-child {
		right: 50%;
	}
}
