:root {
	--primary-color: #05a1e0;
	--secondary-color: #2252bd;
	--highlight-color: #e03c3c;
	--dark-blue-shadow: 0 0 5px 1px rgba(0, 32, 69, 0.3);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Ubuntu", sans-serif;
	min-width: 100vw;
}

::-webkit-scrollbar {
	width: 7px;
}

::-webkit-scrollbar-track {
	background: var(--primary-color);
}

::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background: var(--);
}

::-webkit-scrollbar-thumb:hover {
	background: var(--color-light-blue);
}

.highlight {
	border: 1px solid var(--highlight-color);
}

.visible {
	visibility: visible;
	max-height: 350px;
	opacity: 1;
}

.hidden {
	visibility: hidden;
	padding: 0;
	opacity: 0;
	max-height: 0px;
}

@media screen and (max-width: 768px) {
	.visible {
		max-height: 550px;
	}
}
